<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sayan" translate="label" sortOrder="500">
            <label>Sayan</label>
        </tab>
        <section id="consume_api" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Consume API Configuration</label>
            <tab>sayan</tab>
            <resource>Sayan_ConsumeAPi::config_consumeapi</resource>
            <group id="api_config" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>REST API Config</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Url</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
				<field id="enable_auth" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable HTTP Auth</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id="enable">1</field>
                    </depends>
				</field>
				<field id="integration" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auth details used for</label>
					 <source_model>Sayan\ConsumeApi\Model\Config\Source\IntegrationList</source_model>
                    <depends>
						<field id="enable">1</field>
                        <field id="enable_auth">1</field>
                    </depends>
                </field>
                <field id="auth_username" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Username</label>
                    <depends>
                        <field id="enable">1</field>
						<field id="enable_auth">1</field>
						<field id="integration">api</field>
                    </depends>
                </field>
                <field id="auth_password" translate="label" type="obscure" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
						<field id="enable">1</field>
						<field id="enable_auth">1</field>
                        <field id="integration">api</field>
                    </depends>
                </field>
				<field id="admin_api_url" translate="label" type="text" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin API Url</label>
                    <depends>
                        <field id="enable">1</field>
						<field id="enable_auth">1</field>
						<field id="integration">admin</field>
                    </depends>
                </field>
				<field id="admin_auth_username" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Username</label>
                    <depends>
                        <field id="enable">1</field>
						<field id="enable_auth">1</field>
						<field id="integration">admin</field>
                    </depends>
                </field>
                <field id="admin_auth_password" translate="label" type="obscure" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
						<field id="enable">1</field>
						<field id="enable_auth">1</field>
                        <field id="integration">admin</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>